*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    border-image: url(Sound%2520webpage_img/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}